body, html {
  margin: auto;
  height: auto;
  min-width: 360px;
  color: var(--color-black);
  position: relative;
  font-family: var(--fontName), 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: var(--body-size);
  line-height: var(--body-lineHeight);
  max-width: 2560px;
  margin: 0 auto;
}

svg {
  width: 100%;
  height: 100%;
}

.h1, h1 {
  font-weight: 700;
  font-size: var(--h1);
  line-height: var(--lh1);
}

.h2, h2 {
  font-weight: 700;
  font-size: var(--h2);
  line-height: var(--lh2);
}

.h3, h3 {
  font-weight: 700;
  font-size: var(--h3);
  line-height: var(--lh3);
}

.h4, h4 {
  font-weight: 700;
  font-size: var(--h4);
  line-height: var(--lh4);
}

.h5, h5 {
  font-weight: 700;
  font-size: var(--h5);
  line-height: var(--lh5);
}
