.wrapper-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  flex: 0 0 auto;
}

.main-content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  margin-top: auto;
}

.container {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: var(--padding-container);
  max-width: var(--mw-container);
}

.box-main {
  padding: var(--box-padding) 0;
  &_bottom {
    padding-top: 0;
  }
  &_top {
    padding-bottom: 0;
  }
}
